<h2 class="center">Create a new Job</h2>
<% if @jobs.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @jobs.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end%>
<%= render 'form'%>
