/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body{
   background: #f2f2f2;
 }
.mainBody{
    max-width: 1200px;
    box-shadow: 1px 1px 5px 1px dimgrey;
    min-height: 600px;
}
.navigationlinks{
  max-width: 450px;
  margin:auto;
}
.navbar-light{
  background-color: #e3f2fd;
  box-shadow: 0px 1px;
}
.wholeNavbar{

}

.title {
  font-size: 300%;
  display: block;
  padding: 30px;
  text-align: center;
  background-color: lightyellow;
}
#header {
  display: block;
  text-align: center;
  border-bottom: .2px black solid;
}
.center{
  text-align: center;
  text-decoration: underline;
}
footer {
  width:100%;
  position:fixed;
  bottom:0;
  border-top: 1px black dashed;
}
.cat_job{
  display: block;
  float: right;
  position:relative;
  width: 40%;
}

.cat_job h2{
  text-align: center;
}

#header p {
  text-align: left;
}

.content{
  background-color: white;
}
